<div class="container mt-5 ">


  <div class="row d-flex justify-content-evenly">
    <div class="col-md-4 p-5">

      <form #formLogin="ngForm" (ngSubmit)="onRegister(formLogin)" class="needs-validation">

        <h3 class="mb-3 bold">
          Create an account
        </h3>
  
        <div class="mb-3">
          <label for="username" class="form-label">New Username</label>
          <input maxlength="300" type="username" class="form-control" id="username" name="username" aria-describedby="username" ngModel required>
          <div class="invalid-feedback">
            Please enter your desired username.
          </div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">New password</label>
          <input maxlength="300" type="password" class="form-control" id="password" name="password" ngModel required>
          <div class="invalid-feedback">
            Please enter your desired password.
          </div>
        </div>

        <div class="mb-3 d-grid">
          <button type="submit" class="btn btn-primary mx-0">Create Account</button>
        </div>

        <hr>
        <p class="d-flex justify-content-center">
          Have an account? <a type="submit" class="mx-1 " [routerLink]="['/auth/login']" >Log in</a>
        </p>
        

        
      </form>

    </div>
  </div>
  

</div>

