


<div class="container mt-5 ">
  <div class="row d-flex justify-content-evenly">
    <div class="col-md-4 text-center">

        <h1>
          <img class="img-fluid w-25" src="https://userscontent2.emaze.com/images/ad80d6e2-f34c-40d7-b846-48ca876a1edc/571be566ceef328ccf57f0d50a6c6d49.png" alt="">
        </h1>

    </div>    
  </div>
</div>

<div class="container mt-5 ">


  <div class="row d-flex justify-content-evenly">
    <div class="col-md-4 card-w-shadow p-5">

      <form #formLogin="ngForm" (ngSubmit)="onRegister(formLogin)" class="needs-validation">

        <h3 class="mb-3 bold">
          Create an account
        </h3>
  
        <div class="mb-3">
          <label for="username" class="form-label">New Username</label>
          <input maxlength="300" type="username" class="form-control contactfield" id="username" name="username" aria-describedby="username" ngModel required>
          <div class="invalid-feedback">
            Please enter your desired username.
          </div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">New password</label>
          <input maxlength="300" type="password" class="form-control contactfield" id="password" name="password" ngModel required>
          <div class="invalid-feedback">
            Please enter your desired password.
          </div>
        </div>

        <div class="mb-3">
          <button type="submit" class="btn btn-primary mx-1">Create Account</button>
        </div>

        <hr>
        <p class="d-flex justify-content-center">
          Have an account? <a type="submit" class="mx-1 " [routerLink]="['/auth/login']" >Log in</a>
        </p>
        

        
      </form>

    </div>
  </div>
  

</div>

