
<div *ngIf="loading" class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>  

<div *ngIf="!loading" class="container mt-2 ">
  <div class="d-flex justify-content-center">
    <form class="input-group flex-nowrap w-50" #searchForm="ngForm" (ngSubmit)="searchMovie(searchForm)">

      <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">{{genre ? genre : 'All'}}</button>

      <ul class="dropdown-menu">
        <li  (click)="loadMovies('All')"><a class="dropdown-item" >All</a></li>
        <li *ngFor="let item of genres;" (click)="loadMovies(item, null)"><a class="dropdown-item" >{{item}}</a></li>
      </ul>
      <input maxlength="300" type="text" class="form-control contactfield"  name="title" ngModel>

      <button class="btn btn-primary" type="submit">Search</button>

    </form>
  </div>

</div>


<div *ngIf="!movies || movies.length <= 0">
  <div *ngIf="!movie" class=" text-center w-100 m-0 p-0">

    <div class="d-flex justify-content-center m-5">
      <h1>There are no movies... Go and add some! </h1>
    </div>

    <div class="d-flex justify-content-center m-5">
      <a class="m-1 d-flex justify-content-center btn btn-primary" [routerLink]="['/movies/add']">Add movie</a>
    </div>
  
  </div>
  
</div>

<div *ngIf="!loading" class="container mt-2 ">
  <div class="row row-cols-1 row-cols-md-2 g-2 d-flex justify-content-center">
    <div *ngFor="let item of movies;"  class="col-6 col-sm-6 col-md-3">
      <app-movie [item]="item"></app-movie>
    </div>
  </div>
</div>

<div *ngIf="!loading" class="container mt-5 ">
  <div class="row">
    <button (click)="loadMoreMovies()" *ngIf="page+1<total" class="btn btn-outline-primary mx-1 mb-5">Load More</button>
  </div>
</div>
