/* You can add global styles to this file, and also import other style files */

*{
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
}

.card-w-shadow {
    background-color: #fff;
    box-shadow: 0 4px 80px 2px #c9ced6;
}