<div class="vh-100 m-0 p-0 d-flex align-content-center"  [style.background-image]="'url(' + backdrop_path + ')'" style="background-size: cover; background-position: center; ">

  <div class="row m-auto" >

    <div class="col-12 col-md-4 text-end">
      <img *ngIf="poster_path" src="{{poster_path}}" class="img-fluid"  alt="...">
    </div>

    <div class="col-12 col-md-8 card-w-shadow pt-5 d-flex align-items-center">
      <div class="w-100 ">
        
          <div class="mb-3 text-uppercase text-center text-wrap mx-auto" style="max-width: 700px;">
            <h1>{{movie.title}}</h1>
          </div>

          <hr>
         
          <div class="mb-3 text-center" >  

              <span class="mx-1" style="color: goldenrod;" *ngFor="let item of [].constructor(5); let i = index">
                <i *ngIf="i+1 < movie.rating" class="fa fa-star" style="font-size:24px;"></i>
                <i *ngIf="movie.rating <= i+1 " class="fa fa-star-o" style="font-size:24px;"></i>  
              </span>  
                          
          </div>

          <hr>
          
          <div class="d-flex justify-content-between">
            <div class="mb-3 w-50 mx-1 text-end" style="max-width: 350px;">
             <h4> {{movie.releaseDate | date:'MM-dd-yyyy'}}</h4>
            </div>

            <div class="mb-3 mx-1">
              <h4>|</h4>
            </div>            
  
            <div class="mb-3 w-50 mx-1" style="max-width: 350px;" >
              <h4>{{movie.genre}}</h4>
            </div>

          </div>
          

          <div class="mb-3 text-center mx-auto" style="max-width: 700px;">
            {{movie.castCrew}}
          </div>
  

  
         
        
                        

      </div>
      
    </div>
  </div>

</div>
